@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #e3f2fd;
}

body,
.video-controls,
.video-timer,
.options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 900px;
  width: 98%;
  position: relative;
  background: #000;
  border-radius: 5px;
  overflow: hidden;
}

.container.fullscreen {
  max-width: 100%;
  width: 100%;
}
.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: all 0.08s ease;
}

.container.show-controls .wrapper {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.13s ease;
}

.wrapper::before {
  content: "";
  bottom: 0;
  width: 100%;
  z-index: -1;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  height: calc(100% + 35px);
}

.video-timeline {
  height: 7px;
  width: 100%;
  cursor: pointer;
}

.video-timeline .progress-area {
  height: 3px;
  position: relative;
  background: rgba(255, 255, 255, 0.6);
}

.progress-area span {
  position: absolute;
  left: 50%;
  top: -25px;
  font-size: 13px;
  color: #fff;
  transform: translateX(-50%);
}

.progress-area .progress-bar {
  width: 0%;
  height: 100%;
  position: relative;
  background: #2289ff;
}

.progress-area .progress-bar::before {
  content: "";
  right: 0;
  height: 13px;
  width: 13px;
  background: inherit;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%);
}

.video-timeline:hover .progress-area span,
.video-timeline:hover .progress-area .progress-bar::before {
  display: block;
}

.progress-area span,
.progress-area .progress-bar::before {
  display: none;
}

.video-controls {
  padding: 5px 20px 10px;
}

.video-controls .options {
  width: 100%;
}

.video-controls .options:first-child {
  justify-content: flex-start;
}

.video-controls .options:last-child {
  justify-content: flex-end;
}

.options button {
  width: 40px;
  height: 40px;
  border: none;
  color: #fff;
  font-size: 19px;
  background: none;
  cursor: pointer;
}

.options button :where(i, span) {
  width: 100%;
  height: 100%;
  line-height: 40px;
}

.options input {
  height: 4px;
  max-width: 75px;
}

.options .video-timer {
  font-size: 14px;
  color: #efefef;
  margin-left: 15px;
}

.video-timer .seperator {
  font-size: 16px;
  margin: 0 5px;
  font-family: "Open Sans";
}

.playback-content {
  position: relative;
}
.playback-content .speed-options {
  position: absolute;
  bottom: 40px;
  left: -40px;
  width: 95px;
  opacity: 0;
  pointer-events: none;
  list-style: none;
  background: #fff;
  border-radius: 4px;
  transition: opacity 0.13s ease;
}

.playback-content .speed-options.show {
  opacity: 1;
  pointer-events: auto;
}

.speed-options li {
  cursor: pointer;
  font-size: 14px;
  padding: 5px 0 5px 15px;
}

.speed-options li.active {
  color: #fff;
  background: #2289ff;
}

.container video {
  width: 100%;
}
